<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.avans.mdodandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tactuslogo_small_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tactuslogo_small_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.loginAndRegisterActivities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.loginAndRegisterActivities.RegisterActivity" />
        <activity android:name=".activities.homepageActivies.HomepageActivity" />
        <activity android:name=".activities.settingActivities.UserSettingsActivity" />
        <activity android:name=".activities.homepageActivies.MyPersonalGoalsActivity" />
        <activity android:name=".activities.homepageActivies.MyPersonalRiskActivity" />
        <activity android:name=".activities.homepageActivies.consumption.ConsumptionActivity" />
        <activity android:name=".activities.homepageActivies.HowAreYouFeelingActivity"/>
        <activity android:name=".activities.homepageActivies.MyDifficultMomentsActivity"/>
        <activity android:name=".activities.settingActivities.PhoneSettingsActivity"/>
        <activity android:name=".activities.homepageActivies.phoneActivity"/>
        <activity android:name=".activities.homepageActivies.consumption.ConsumptionDetailActivity"/>
        <activity android:name=".activities.homepageActivies.consumption.ConsumptionSpecificDayActivity"/>
        <activity android:name=".activities.homepageActivies.consumption.RegisterConsumptionActivity"/>

        <service
            android:name=".applicationLogic.notifications.NotificationService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="your.app.domain.NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name=".applicationLogic.notifications.NotificationPublisher" />

    </application>

</manifest>