<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.avans.mdodandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tactuslogo_small_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tactuslogo_small_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".NotificationService"
            android:label="@string/app_name">
        <intent-filter>
            <action android:name="your.app.domain.NotificationService" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </service>



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomepageActivity" />
        <activity android:name=".UserSettingsActivity" />
        <activity android:name=".MyDifficultMoments"></activity>
        <activity android:name=".MyPersonalGoalsActivity">

        </activity>
        <activity android:name=".MyPersonalRiskActivity"/>
        <activity android:name=".PhoneSettingsActivity"/>


    </application>


</manifest>